* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Nunito Sans", Arial, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  text-transform: uppercase;
}

nav ul li:hover {
  color: brown;
  cursor: pointer;
}
nav button {
  color: white;
  background-color: green;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}
nav button:hover {
  background-color: greenyellow;
  color: black;
  cursor: pointer;
}
nav button:active {
  opacity: 80%;
}
#hero {
  background-image: url("./assets/business-888146_1920.jpg");
  height: 100vh;
  background-position: top;
  /* background-size: helps increase the size; */
}
.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  row-gap: 50px;
}
#hero h1 {
  font-size: 50px;
}
#hero p {
  font-size: 20px;
  width: 40%;
}
#hero button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
#hero button:hover {
  background-color: greenyellow;
  color: black;
  cursor: pointer;
}
#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: -4rem;
}
#search-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  margin-top: -12px;
}
#search-title span {
  padding: 20px;
  background-color: white;
  font-size: 18px;
  font-weight: 900;
}
#search-title span:nth-child(2) {
  background-color: green;
  color: white;
}
#search-box div {
  padding: 15px;
  border-right: 1px solid #a5a5a5;
}
#search-box p {
  font-weight: bold;
  text-transform: uppercase;
}
#search-box i {
  color: #a5a5a5;
}
#search-box input {
  border: none;
}
#search-box input:focus {
  outline: none;
}
#search-box input::placeholder {
  color: #a5a5a5;
}
#search-box span {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
#search-box button {
  color: white;
  background-color: green;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}
#search-box button:hover {
  background-color: yellowgreen;
  color: black;
  cursor: pointer;
}

.main-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  row-gap: 20px;
}
.main-category p {
  font-size: 13px;
  color: green;
}
.main-category h2 {
  font-size: 40px;
  font-weight: 700px;
  width: 450px;
  text-align: center;
  margin-bottom: 100px;
}
.category-icons {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  padding: 40px;
  border-radius: 12px;
  margin-bottom: 50px;
}
.category-icons span {
  font-size: 60px;
  width: 60px;
  height: 80px;
  margin-bottom: 10px;
  row-gap: 30px;
}

.category-icons p {
  text-align: center;
  font-size: 20px;
}
.category-box {
  flex: 1;
  padding: 50px 10px;
  text-align: center;
  background-color: rgb(243, 245, 241);
}
.category-box:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
#testimonials {
  display: flex;
  column-gap: 250px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 70px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  margin-bottom: 100px;
}
#testimonials button {
  padding: 3px 10px;
  color: green;
  border: none;
  font-family: "Nunito Sans", Arial, sans-serif;
  border-radius: 4px;
}
#testimonials button:hover {
  color: white;
  background-color: green;
  cursor: pointer;
}
.works p {
  font-size: 13px;
  color: green;
  text-transform: uppercase;
}
.works h2 {
  font-size: 40px;
  font-weight: 700px;
  width: 450px;
  margin-bottom: 30px;
}
#featured-works {
  height: 100vh;
  width: 100%;
  background-color: rgb(247, 247, 247);
  padding-top: 40px;
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.work-images {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
}

.makeup-looks {
  text-align: center;
  width: 25%;
  height: 528px;
}

.makeup-looks img {
  height: 45%;
  width: 100%;
  object-fit: cover;
}

.makeup-looks .makeup-info {
  height: 55%;
}
